/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
@import "leaflet/dist/leaflet.css";

/* Configuración de la tipografía */
:root {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
}

.leaflet-container {
  /* Mantén tus estilos de Leaflet aquí */
}

/* Solución para los dropdowns de PrimeNG */
.p-dropdown-panel {
  overflow: visible !important;
  z-index: 1003 !important; /* Asegura que esté por encima de los modales */
}

.p-dropdown-items-wrapper {
  max-height: 200px !important; /* Altura máxima para la lista desplegable */
  overflow-y: auto !important;
}

/* Ya no pongas ningún @import de node_modules */
