/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
@import "leaflet/dist/leaflet.css";

/* Configuración de la tipografía */
:root {
  font-family: 'Inter', sans-serif;
  --primary-color: #3B82F6;
  --secondary-color: #10B981;
  --surface-ground: #F8FAFC;
  --surface-card: #FFFFFF;
  --surface-border: #E2E8F0;
  --text-color: #334155;
  --text-color-secondary: #64748B;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--surface-ground);
  color: var(--text-color);
}

.leaflet-container {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Solución para los dropdowns de PrimeNG */
.p-dropdown-panel {
  overflow: visible !important;
  z-index: 1003 !important; /* Asegura que esté por encima de los modales */
}

.p-dropdown-items-wrapper {
  max-height: 200px !important; /* Altura máxima para la lista desplegable */
  overflow-y: auto !important;
}

/* Ya no pongas ningún @import de node_modules */
